<header>
    <img 
        src="assets\img\chaves.jpg" 
        alt="Rafael Chaves - Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1>Rafael Chaves</h1>
</header>

<aside>
    <div class="container">
        <p>.Net | MySQL | SQL Server | MongoDB | Angular | Clean Code | Clean Architecture | TDD | MVC | 
            API Rest | Docker | S3 | EC2</p>

        <p>São José dos Campos, SP, Brasil</p>
        <p>Estou na área de desenvolvimento de software faz 4 anos. Minha especialidade é backend com .Net utilizando
        Clean Architecture e API Rest, e também banco de dados relacional. Gosto e sempre procuro utilizar e estudar as boas 
        práticas de desenvolvimento, creio que elas são um ótimo guia para desenvolver projetos robustos e de fácil manutenção.
        Atualmente sigo estudando banco de dados NoSQL com MongoDb e frontend com Angular.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/rafael-santos-165443122/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/mail.svg" 
                    alt="Ícone para contato por email"
                    width="22px"
                    height="24px"    
                />
                <figcaption>
                    <a href="mailto:chavesrafael9@gmail.com" target="_blank">
                        <strong>Envie um email para:</strong>
                        <p>chavesrafael9&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>